{% load static %}

<!-- Top Bar
		============================================= -->
<div id="top-bar" class="bg-color">
    <div class="container">

        <div class="row justify-content-center justify-content-lg-between">
            <div class="col-12 col-md-auto">

                <!-- Top Links
						============================================= -->
                <div class="top-links">
                    <ul class="top-links-container">
                        <li class="top-links-item"><a><i class="color-2 icon-line-globe"></i>
                                English</a>
                            <!-- <ul class="top-links-sub-menu bg-color">
                                <li class="top-links-item"><a href="about.html">Arabic</a></li>
                                <li class="top-links-item"><a href="faqs.html">Chinese</a></li>
                            </ul> -->
                        </li>
                    </ul>
                </div><!-- .top-links end -->

            </div>

            <div class="col-12 col-md-auto">

                <!-- Top Links
						============================================= -->
                <div class="top-links text-center">
                    <ul class="top-links-container">
                        <li class="top-links-item"><a href="#"><i class="color-2 icon-line-map-pin"></i> No 2, Sotonye Banigo Close,
                            Sani Abacha Road, GRA Phase III, Port Harcourt, RV 50001</a></li>
                    </ul>
                </div><!-- .top-links end -->

            </div>
        </div>

    </div>
</div><!-- #top-bar end -->